  <div style="background-color: antiquewhite; display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
    <div style="background-color: white; padding: 2rem; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 100%; max-width: 450px;">
<div class="container">
  <h2>タグ編集</h2>

<%= form_with(model: @font_design, local: true, data: { turbo: false }, html: { multipart: true }) do |f| %>

    <% if @font_design.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(@font_design.errors.count, "error") %></h2>
        <ul>
          <% @font_design.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <!-- タグ設定 -->
  <div class="field">
    <%= label_tag :tag_names, 'タグ設定' %>
    <%= text_field_tag :tag_names, @tag_names, class: 'form-control' %>
  </div>

  <%= f.submit '更新する', class: 'btn btn-primary' %>
<% end %>
</div>